body{
  background-color: gray;
  font-family: arial
}
h1{
  text-align: center;
  background-color: lightgray;
  color: white
}
div{
  float:left
}
h3{
}
ul{
  list-style-type: none;
  padding: 0px;
  margin-top: 0px
}
a{
  color: lightgray;
  text-decoration: none;
}
h2{
  font-size: 1.5em;
  margin-left: 200px
}
p{
  font-size: 1.5em;
  margin-left: 200px
}
footer{
  background-color: darkgray;
  text-align: right;
  padding: 20px;
  color: lightgray
}
